<%- include('../partials/_messages.ejs') %>
<h1 class="mb-1"><%= article.title %> </h1>

<div class="text-muted mb-2">
  <%= article.createdAt.toLocaleDateString() %> at <%= article.createdAt.toLocaleTimeString() %>
</div>
<a href="/" class="btn btn-secondary">All Articles</a>
<% if(typeof user != 'undefined') { %>
  <a href="edit/<%= article.id %>"
    class="btn btn-info">Edit</a>
  <form action="/<%= article.id %>?_method=DELETE"
  method="post" class="d-inline">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
<% } %>

<div class="mt-2">
  <%- article.sanitizedHtml %> 
</div>