<%- include('../partials/_messages.ejs') %>
<h1 class="mb-1"><%= article.title %> </h1>

<div class="text-muted mb-2">
  <%= article.createdAt.toLocaleDateString() %> at <%= article.createdAt.toLocaleTimeString() %>
</div>
<a href="/" class="btn btn-secondary">All Articles</a>
<%- include('_options.ejs') %>

<div class="mt-2">
  <%- article.sanitizedHtml %> 
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".bd-example-modal-sm">Small modal</button>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>